body {
    background-color: #000d0b;
    font-family: "Inter", sans-serif;
}
.form-select:focus {
    box-shadow: none !important;
}
.btn {
    --bs-btn-box-shadow: none;
    --bs-btn-focus-box-shadow: none;
}
:root {
    --primary: #099c6d;
}
a:hover {
    color: inherit;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(10px);
    --bs-navbar-color: #fff;
    --bs-navbar-hover-color: #ddd;
    --bs-navbar-disabled-color: #bbb;
    --bs-navbar-active-color: #ddd;
}
.desktop__nav .navbar-nav {
    column-gap: 36px;
    align-items: center;
}
.bottom__navbar {
    background-color: rgba(9, 156, 110, 0.8);
    padding: 0;
}
.bottom_nav_content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.bottom_nav_item {
    display: flex;
    align-items: center;
}
.navbar .container-fluid {
    max-width: 1920px;
}
.bottom_nav_btn {
    display: flex;
    align-items: center;
    height: 98px;
    padding: 0 30px;
    color: #fff !important;
    text-decoration: none;
    border-right: 1px solid rgba(0, 0, 0, 0.3);
}
.bottom_nav_btn:last-child {
    border: none;
}
.bottom_nav_btn img {
    margin-right: 12px;
}
.mobile__nav {
    display: none;
}
.offcanvas .nav-item {
    margin-bottom: 10px;
}
.nav-link {
    text-transform: uppercase;
    font-size: 12px;
    vertical-align: middle;
    display: flex;
    align-items: center;
}
.nav-link img {
    margin-right: 8px;
}
.nav__select {
    text-transform: uppercase;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    border-color: #fff;
    color: #fff;
    font-size: 11px;
    height: 41px;
    max-width: 100px;
}
.nav__select option {
    color: #000d0b;
    font-size: 16px;
}

.nav__actions {
    display: flex;
    align-items: center;
}
.nav__btn {
    --bs-btn-color: #fff;
    --bs-btn-bg: var(--primary);
    --bs-btn-border-color: var(--primary);
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: var(--primary);
    --bs-btn-active-border-color: var(--primary);
    --bs-btn-hover-border-color: var(--primary);
    --bs-btn-hover-color: var(--primary);
    white-space: nowrap;
    height: 41px;
    font-size: 12px;
    line-height: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}
.login__btn {
    --bs-btn-bg: rgba(255, 255, 255, 0.3);
    --bs-btn-border-color: #ffffff4d;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: rgba(255, 255, 255, 0.3);
    --bs-btn-active-border-color: #ffffff4d;
    --bs-btn-hover-border-color: #ffffff4d;
    --bs-btn-hover-color: #fff;
}

/* Hero */

.hero__carousel .splide__slide {
    height: 90vh;
    min-height: 780px;
    max-height: 780px;
}
.splide__arrow {
    background: none;
    width: 44px;
    height: 60px;
}
.splide__arrow svg {
    width: inherit;
    height: inherit;
}
.splide__arrow--prev {
    left: 10%;
}
.splide__arrow--next {
    right: 10%;
}
.splide__track,
.hero__slide {
    height: 100%;
}
.hero__slide {
    display: flex;
    justify-content: flex-end;
    background-image: url("../img/hero-slide-1.jpg");
    background-position: top left;
    background-repeat: no-repeat;
}
.hero_slide_blog {
    padding-right: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hero_slide_btn {
    background: radial-gradient(50% 50% at 50% 50%, #5fe65c 0%, #099c6d 100%);
    border-radius: 50%;
    border: none !important;
    max-width: 600px;
    width: 100%;
    height: 76px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #fff !important;
    transition: 0.3s;
}
.hero_slide_btn:hover {
    box-shadow: 0px 0px 46.5579px #00ff38;
}

.main {
    background: url("../img/main-bg.png") no-repeat top;
}
.section__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.section_title_blog {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}
.games_box_slide .splide__slide {
    display: flex;
}
.all_games_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}
.allgames_box_title {
    font-size: 12px;
    margin: 0;
    margin-top: -10px;
    padding-right: 10px;
    text-decoration: none;
}
.allgames_img_blog {
    max-width: 132px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.all_games_box img {
    width: max-content;
    pointer-events: none;
}

.games__card {
    height: 380px;
    border-radius: 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
}
.allgames__cards:nth-child(1) .games__card,
.mobile_games_card .games__card {
    background: url("../img/card-bg-1.jpg") no-repeat center / cover !important;
}
.allgames__cards:nth-child(2) .games__card {
    background: url("../img/card-bg-2.jpg") no-repeat center / cover;
}
.games__card img {
    pointer-events: none;
}
.games__card .hero_slide_btn {
    width: 200px;
    height: 48px;
    align-self: flex-end;
    font-size: 16px;
    margin-left: auto;
}
.slot__img {
    transition: all 0.5s;
    border-radius: 6px;
}
.slot__images {
    overflow: hidden;
}
.slot__img:hover {
    transform: scale(1.2);
    filter: brightness(70%);
}
.providers__img {
    width: 100%;
}
.partners {
    padding: 30px 0 50px;
    background-color: rgba(14, 40, 36, 0.25);
}
.header__warning {
    position: relative;
    height: 40px;
    font-size: 12px;
    background-color: var(--primary);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__warning .btn-close {
    position: absolute;
    right: 15px;
    background: transparent
        url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
        center/1em auto no-repeat;
}
.header__warning p,
a {
    color: #fff !important;
    margin: 0;
}
.nav_mobile_btn {
    --bs-btn-color: #fff;
    --bs-btn-hover-color: #fff;
    --bs-btn-active-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 11px;
}
.nav_mobile_btn img {
    margin-bottom: 8px;
}
@media (min-width: 1400px) {
    .slot__images {
        width: 14.285714285%;
    }
    .nav_mobile_btn {
        display: none;
    }
}
@media (max-width: 1399px) {
    .bottom_nav_btn {
        height: 70px;
    }
    .hero_slide_blog {
        padding-right: 10%;
    }
}
@media (max-width: 1199px) {
    .bottom_nav_btn {
        height: 60px;
    }
    .games_card_content img,
    .slot__img {
        width: 100%;
    }
}
@media (max-width: 991px) {
    .bottom_nav_btn img {
        width: 25px;
    }
    .games__card {
        border-radius: 0;
    }
}
@media (max-width: 575px) {
    .allgames_img_blog img {
        width: 44px;
    }
    .bottom_nav_btn {
        height: 50px;
        padding: 0 10px;
    }
    .allgames_box_title {
        display: none;
    }
    .header__warning {
        height: auto;
    }
    .header__warning p {
        padding-right: 25px;
    }
    .desktop__nav .navbar-brand {
        padding: 0 !important;
        margin-left: 8px;
        margin-right: 8px;
    }
    .desktop__nav .navbar-brand img {
        width: 100px;
        height: 25px;
    }
    .nav_mobile_btn {
        padding: 6px 8px !important;
    }
    .games__card {
        height: 220px;
    }
    .games__cards .games_card_content img {
        max-width: 180px;
    }
    .mobile_games_card .games_card_content img {
        max-width: 320px;
    }
    .mobile_games_card .games__card {
        padding: 15px;
    }
    .games__card .hero_slide_btn {
        height: 32px;
        width: 140px;
        margin-top: 10px;
        font-size: 12px;
    }
    .partners {
        overflow: hidden;
    }
    .providers__img {
        width: auto;
    }
    .mobile_page_item {
        border-right: 1px solid #fff;
        font-size: 12px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 20px;
    }
    .mobile_page_item a {
        text-decoration: none;
    }
    .mobile_page_item:last-child {
        border: none;
    }
    .section_title_blog {
        justify-content: space-between;
    }
    .section__title {
        font-size: 14px;
    }
    .title_blog_btn {
        background-color: rgba(255, 255, 255, 0.7) !important;
        color: #000 !important;
        border-radius: 20px;
        font-size: 14px;
        display: flex !important;
        align-items: center;
    }
    .canli_casino_title_icon {
        width: 26px !important;
    }
    .slot_games_title_icon {
        width: 54px !important;
    }
}
